.toDos {
	list-style: none;
	font-size: 1.5em;
	margin-left: 25px;
}

.toDos li {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.toDos li:hover {
	border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.toDos li a {
	color: rgba(0, 0, 0, 0.6);
	transition: color 0.5s;
}

.toDos li a:hover {
	color: rgba(0, 0, 0, 1);
	transition: color 0.5s;
}

.toDos .remove-item {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s linear;
	width: 64px;
	height: 64px;
	line-height: 64px;
	text-align: center;

	display: block;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 32px;
	float: right;
}

.toDos li:hover .remove-item {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s linear;
}

.toDos li a small {
	font-size: 0.6em;
}

.toDos .done {
	text-decoration: line-through;
	opacity: 0.5;
}