<form>
	<h1>What are you planning?</h1>
	<textarea cols="30" rows="1" placeholder="e.g. Play Halo"></textarea>
	<small class="error">
		<strong>Invalid title</strong>
	</small>

	<br>

	<h3>Wanna describe it more?</h3>
	<textarea cols="30" rows="2" placeholder="e.g. Play the newly added Battle Pass tonight with my friends!"></textarea>
	<small class="error">
		<strong>Invalid description</strong>
	</small>

	<br>

	<h3>When is it due?</h3>
	<input type="date">
	<small class="error">
		<strong>Invalid due date</strong>
	</small>

	<br><br>

	<p class="text-right">
		<app-button>
			<i class="fa fa-save"></i>
		</app-button>
	</p>
</form>