button {
	margin: 0px;
	padding: 12px 20px 15px 20px;
	background-color: #fa4d73;
	border: none;
	font-size: 1.1em;
	color: #fff;
	cursor: pointer;
	transition-duration: 0.5s;
	min-width: 64px;
	border-radius: 5px;
}

button:hover {
	background-color: #fa5b70;
	transition: background-color 1s;
}

button:disabled {
	cursor: inherit;
	opacity: 0.5;
	-webkit-filter: grayscale(90%);
	filter: grayscale(90%);
}